.login_form{
    background-color: blueviolet;
}
.middle{
    border: 3px solid purple;
    border-radius: 20px;
    padding: 20px;
    height: 400px;
    background-color: paleturquoise;
}
.login_header{
    font-size: 48px;
    font-weight: 800;
    color: rebeccapurple;
    margin-bottom: 30px;
}
.google{
    height: 50px;
    width: 50px;
    margin-top: 35px;
    margin-right: 10px;
}